@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9811 0.0093 286.2277);
  --foreground: oklch(0.3522 0.0276 287.7542);
  --card: oklch(0.9892 0.0053 286.3028);
  --card-foreground: oklch(0.3522 0.0276 287.7542);
  --popover: oklch(0.9892 0.0053 286.3028);
  --popover-foreground: oklch(0.3522 0.0276 287.7542);
  --primary: oklch(0.5384 0.1314 283.6942);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9122 0.0216 288.8376);
  --secondary-foreground: oklch(0.3296 0.1090 273.4007);
  --muted: oklch(0.9066 0.0204 292.1182);
  --muted-foreground: oklch(0.4840 0.0416 283.0000);
  --accent: oklch(0.8535 0.0811 301.5462);
  --accent-foreground: oklch(0.3296 0.1090 273.4007);
  --destructive: oklch(0.5523 0.1631 24.1787);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8662 0.0443 294.0547);
  --input: oklch(0.8662 0.0443 294.0547);
  --ring: oklch(0.5384 0.1314 283.6942);
  --chart-1: oklch(0.5384 0.1314 283.6942);
  --chart-2: oklch(0.3296 0.1090 273.4007);
  --chart-3: oklch(0.7422 0.1756 308.5039);
  --chart-4: oklch(0.4337 0.0916 279.5223);
  --chart-5: oklch(0.7595 0.0684 286.5569);
  --sidebar: var(--card);
  --sidebar-foreground: var(--card-foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
  --radius: 0.75rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2209 0.0136 285.2360);
  --foreground: oklch(0.9357 0.0080 286.2434);
  --card: oklch(0.2693 0.0241 281.2031);
  --card-foreground: oklch(0.9357 0.0080 286.2434);
  --popover: oklch(0.2693 0.0241 281.2031);
  --popover-foreground: oklch(0.9357 0.0080 286.2434);
  --primary: oklch(0.5384 0.1314 283.6942);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.3614 0.0223 285.2310);
  --secondary-foreground: oklch(0.9357 0.0080 286.2434);
  --muted: oklch(0.3304 0.0228 285.0843);
  --muted-foreground: oklch(0.7469 0.0114 286.1216);
  --accent: oklch(0.5099 0.1225 308.4941);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.4793 0.1609 26.4331);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.4111 0.0448 287.6444);
  --input: oklch(0.4111 0.0448 287.6444);
  --ring: oklch(0.5384 0.1314 283.6942);
  --chart-1: oklch(0.8448 0.0485 286.6225);
  --chart-2: oklch(0.5384 0.1314 283.6942);
  --chart-3: oklch(0.7422 0.1756 308.5039);
  --chart-4: oklch(0.4693 0.0806 280.1827);
  --chart-5: oklch(0.3937 0.0812 276.6048);
  --sidebar: var(--card);
  --sidebar-foreground: var(--card-foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
  --radius: 0.75rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme {
	--font-sans:
		'Noto Sans', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans JP', 'Noto Sans KR', 'Noto Color Emoji',
		ui-sans-serif, system-ui, -apple-system, sans-serif;
	--font-serif:
		'Noto Serif', 'Noto Serif SC', 'Noto Serif TC', 'Noto Serif JP', 'Noto Sans KR',
		'Noto Color Emoji', serif;
	--font-mono: 'Noto Sans Mono', 'Noto Color Emoji', monospace;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);
}

:root {
	--cp-bg-color: transparent;
	--cp-border-color: transparent;
	--cp-text-color: var(--color-popover-foreground);
}

@layer base {
	:root {
		color-scheme: light;
	}

	* {
		@apply border-border outline-ring/50;
		scrollbar-width: thin;
		scrollbar-color: var(--color-border) transparent;
	}
	body {
		@apply bg-background text-foreground;
	}

	.dark {
		.shiki,
		.shiki span {
			color: var(--shiki-dark) !important;
			font-style: var(--shiki-dark-font-style) !important;
			font-weight: var(--shiki-dark-font-weight) !important;
			text-decoration: var(--shiki-dark-text-decoration) !important;
		}
		color-scheme: dark;
	}

	html.dark .shiki,
	html.dark .shiki span {
		color: var(--shiki-dark) !important;
		font-style: var(--shiki-dark-font-style) !important;
		font-weight: var(--shiki-dark-font-weight) !important;
		text-decoration: var(--shiki-dark-text-decoration) !important;
	}

	pre.shiki {
		@apply overflow-x-auto rounded-lg bg-inherit py-4 text-sm;
	}

	pre.shiki:not([data-code-overflow] *):not([data-code-overflow]) {
		@apply overflow-y-auto;
		max-height: min(100%, 650px);
	}

	pre.shiki code {
		@apply grid min-w-full rounded-none border-0 bg-transparent p-0 wrap-break-word;
		counter-reset: line;
		box-decoration-break: clone;
	}

	pre.line-numbers {
		counter-reset: step;
		counter-increment: step 0;
	}

	pre.line-numbers .line::before {
		content: counter(step);
		counter-increment: step;
		display: inline-block;
		width: 1.8rem;
		margin-right: 1.4rem;
		text-align: right;
	}

	pre.line-numbers .line::before {
		@apply text-muted-foreground;
	}

	pre .line.line--highlighted {
		@apply bg-secondary;
	}

	pre .line.line--highlighted span {
		@apply relative;
	}

	pre .line {
		@apply inline-block min-h-4 w-full px-4 py-0.5;
	}

	pre.line-numbers .line {
		@apply px-2;
	}
}

@layer utilities {
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		@apply appearance-none;
	}
}
